*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    box-sizing: border-box;
}
div{
    margin: 40px;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
form{
    background: transparent;
    
    border-radius: 20px;
    width: 400px;
}
div h1{
    font-size: 36px;
    text-align: center;
    color: white;
}
.password , .username{
    position: relative;
    width: 100%;
    height:50px;
    margin: 20px 0;
}
.username input , .password input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid rgb(16, 16, 37);
    border-radius: 20px;
    font-size: large;
    color: white;
    padding: 20px;
    outline: none;
}
input::placeholder{
    color: white;
}
i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: white;
    font-size: larger;
}
.checkbox-forgot{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: white;
}
div label input{
    accent-color: rgb(17, 127, 141);
    margin: 5px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
a:hover{
    text-decoration: underline;
}
.submit button{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(13, 104, 19, 0.46);
    outline: none;
    font-size: larger;
}
.account{
    color: rgb(45, 23, 116);
    font-size: 18px;
    text-align: center;
    margin: 15px;
    padding: 20px;
    font-weight: 400;
}
p a{
    color: rgb(45, 23, 116);
    font-size: 18px;
    text-align: center;
    margin: 15px;
    font-weight: 400;
}